@CHARSET "UTF-8";
body,html{height:100%; background-color: #f2f2f2; color: #666666;}

.layui-layout-admin .layui-body {bottom: 0px;}
.btn-handle-group {float: right; margin: 0px}
.hidden {display: none;}