@CHARSET "UTF-8";
body,html{height:100%;}
body{ padding:0px; margin:0; overflow-x:hidden;}

.topmenu{ margin:0; padding:0; height:70px; line-height:31px; background:url(../imgs/topbg.jpg);position:relative; border-top:1px solid #1D438B;  }
.topmenu-logo{color:#E7E7E7; padding-left:15px; line-height:26px;}
.topmenu-welcome{position:absolute; height:24px; line-height:24px; right:30px; top:2px;color:#070A0C;}
.topmenu-welcome a{ color:#E7E7E7; text-decoration:underline}

.top-link{ display:inline-block; height:26px; line-height:26px; padding-left:10px; text-decoration:underline; color:#333;}
.link{ display:block; height:26px; line-height:26px; padding-left:10px; text-decoration:underline; color:#333;}
.link:hover{ background:#FFEEAC; }
.space{ color:#E7E7E7;}

.login-tips{border-bottom: 1px solid #dddddd;box-shadow: 0 1px 3px #ddd;line-height: 30px;padding-left: 10px;}

.btn{-moz-user-select: none;background-image: none;border: 1px solid #cccccc;cursor: pointer;display: inline-block;font-size: 14px;font-weight: normal;line-height: 1.42857;margin-bottom: 0;text-align: center;vertical-align: middle;white-space: nowrap;border-radius: 3px;height: 24px;line-height: 1.29758;padding: 2px 8px;background: #fafafa none repeat scroll 0 0;}
.btn-green {background: green none repeat scroll 0 0;border-color: green;color: #ffffff;}
.btn-red {background: red none repeat scroll 0 0;border-color: red;color: #ffffff;}
.btn-blue {background: #428bca none repeat scroll 0 0;border-color: #428bca;color: #ffffff;}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active{background-color: green; border-color: green; color: #ffffff;}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active{background-color: red; border-color: red; color: #ffffff;}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active{background-color: #428bca; border-color: #428bca; color: #ffffff;}
.btn-disabled{color:#ccc;}

.toolbar{padding:5px;}
.body{padding:5px;}
.footer{padding-bottom:20px;text-align:center;}
.f-right{float:right}
.f-left{float:left}
.f-clear{clear:both}

.l-grid-row-cell-inner, .l-grid-hd-cell-inner{line-height: 28px;}

.table-form{width:100%; margin-top: 20px;}
.table-form input.cfg,.table-form input.textarea{width:340px;}
.table-form th{text-align:right;}
.table-form td{padding:2px 5px;}
label{margin-right:10px;}

input[type=text],input[type=password]{
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    color: #222;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    padding: 2px 5px;
    position: relative;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: auto;
    margin:2px;
}
textarea{
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    color: #222;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    font-size: 14px;
    padding: 2px 5px;
    position: relative;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    margin:2px;
}

select{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  height: 24px;
  margin:2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
input[type="radio"],input[type="checkbox"]{margin:2px;}

input[type="radio"].l_radio{margin-top:5px; margin-bottom: 5px;}

.file_picture {
    float: left;
    width: 100px;
    height: 29px;
    margin-top: -6px;
    margin-left: 0px;
    padding-top: 4px;
    overflow: hidden;
    background: url(../imgs/file_picture_bg.png) center top no-repeat;
    position: relative;
}

.file_picture input {
    position: absolute;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file_picture_preview {
    padding-bottom: 10px;
}

.upload_file_tips {
    color: red;
    margin-left: 10px;
}

.hidden {
    display: none;
}

.account_disable {
    color: rgba(206, 17, 17, 0.9);
    padding-left: 5px;
}

.w120 {width: 120px;}

.m_right_10 {margin-right: 10px;}

.l-text {
    background: white none repeat scroll 0 0;
    border: 1px solid #ffffff;
    height: 25px;
    line-height: 25px;
    position: relative;
    width: 160px;
    margin:2px;
}
.l-trigger, .l-trigger-hover, .l-trigger-pressed {top: 6px;}
.l-grid-header {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    width: 100%;
}
.l-grid-hd-cell {
    border-right: 1px solid #ddd;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.l-grid-row-alt .l-grid-row-cell-rownumbers, .l-selected .l-grid-row-cell-rownumbers, .l-grid-row-over .l-grid-row-cell-rownumbers, .l-grid-row-cell-rownumbers {
    background: #eeeeee none repeat scroll 0 0;
}
.l-grid-row-cell {
    border-bottom: 1px dotted #A3bae9;
    border-right: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
}
#maingrid{border-top: 1px solid #ddd;}
.qt-grid-tree .row-hover{background:#e0ecff;}
.qt-grid-tree .row-selected{background:#dcf8a8}
.qt-grid-tree .row-selected2{}
.qt-grid-tree .bg-color{background:#f5f5f5}
.qt-grid-tree .bg-color2{}
.qt-grid-tree-hd{background: #ffffff url("../imgs/header-bg.gif") repeat-x scroll left bottom;border-bottom: 1px solid #ddd;}

.ztree_panel{max-height:340px; overflow-y: auto; background-color: #ddd;}


/**订单详情**/
.order-box{margin-bottom:5px;border-bottom:1px solid #ddd;}
.order-box .box-head{font-weight:bold;height:30px;line-height:30px}
.order-box .delivery-box{height:100px;border-bottom:1px solid #ddd;}
.order-box th{font-weight:normal;}
.order-box .goods-head{border-top:2px solid #FC7A64;background: #f3f3f3;display: block;height: 25px;line-height: 25px;margin: 0 0 10px;padding: 5px 0;}
.order-box .goods-head .goods{float:left;width:650px;padding-left:15px}
.order-box .goods-head .price{float:left;width:100px;}
.order-box .goods-head .num{float:left;width:100px;}
.order-box .goods-head .t-price{float:left;width:105px;}
.order-box .shop{padding-left:15px;height:25px;line-height:25px;border-bottom:2px solid #FDD8D2;color:#E55356;font-weight:bold;font-size:15px;}
.order-box .item{padding-top:5px;padding-bottom:5px;border:1px solid #eeeeee;}
.order-box .item .goods{float:left;width:650px;padding-left:15px;}
.order-box .item .goods .img{float:left;width:80px;height:80px;}
.order-box .item .goods .name{float:left;width:390px;height:80px;margin-left:5px;}
.order-box .item .goods .spec{float:left;width:165px;margin-left:5px;}
.order-box .item .price{float:left;width:100px;}
.order-box .item .num{float:left;width:100px;}
.order-box .item .t-price{float:left;width:100px;}
.order-box .goods-footer{padding-right:10px;margin-bottom:10px;}
.order-box .line{border-top:1px solid #dddddd;}
.order-box .goods-summary{margin-top:10px;}
.order-box .summary{height:30px;line-height:30px;}
.order-box .orderScore{margin-right:5px;}
.order-box .log td{height:25px;line-height:25px;padding-left:15px;}
/*流程图*/
.order-box .log-box{height:132px;}
.order-box .log-box .icon{float:left;width:60px;height:60px;}
.order-box .log-box .icons{float:left;width:60px;height:60px;}
.order-box .log-box .icon11{background:url(../img/user_icon_rzxx.png) -15px -12px no-repeat;}
.order-box .log-box .icon21{background:url(../img/user_icon_rzxx.png) -105px -12px no-repeat;}
.order-box .log-box .icon31{background:url(../img/user_icon_rzxx.png) -194px -12px no-repeat;}
.order-box .log-box .icon41{background:url(../img/user_icon_rzxx.png) -282px -12px no-repeat;}
.order-box .log-box .icon51{background:url(../img/user_icon_rzxx.png) -373px -12px no-repeat;}

.order-box .log-box .icon12{background:url(../img/user_icon_rzxx.png) -15px -62px no-repeat;}
.order-box .log-box .icon22{background:url(../img/user_icon_rzxx.png) -105px -62px no-repeat;}
.order-box .log-box .icon32{background:url(../img/user_icon_rzxx.png) -194px -61px no-repeat;}
.order-box .log-box .icon42{background:url(../img/user_icon_rzxx.png) -282px -63px no-repeat;}
.order-box .log-box .icon52{background:url(../img/user_icon_rzxx.png) -373px -62px no-repeat;}

.order-box .log-box .icon13{background:url(../img/user_icon_rzxx.png) -19px -123px no-repeat;}
.order-box .log-box .icon23{background:url(../img/user_icon_rzxx.png) -105px -122px no-repeat;}
.order-box .log-box .icon33{background:url(../img/user_icon_rzxx.png) -194px -121px no-repeat;}
.order-box .log-box .icon43{background:url(../img/user_icon_rzxx.png) -282px -122px no-repeat;}
.order-box .log-box .icon53{background:url(../img/user_icon_rzxx.png) -373px -121px no-repeat;}
.order-box .log-box .arrow{float:left;color: #979797;font-size: 15px;font-weight: bold;margin-top:18px;}
.order-box .log-box .arrow2{color: #7ebb53;}
.order-box .log-box .state{float:left;width:100%;margin-left:18px;}
.order-box .log-box .state2{float:left;width:100%;position: relative;}
.order-box .log-box .state2 p{float:left;width:178px;height:50px;text-align:left;margin-left:15px;color:#f05858;font-size: 15px;}
.order-box .log-box .state2 .path{position: absolute;z-index: 10;}
.order-box .log-box .state2 .path span{float:left;width:178px;height:50px;text-align:left;margin-left:15px;background: #ffffff;}
/**推荐管理**/
.recom-lbox{width:350px;height:350px;border:1px solid #ddd;padding:5px;text-align:left;overflow-x:hidden;overflow-y:auto;}
.recom-lbox .head,.recom-rbox .head{border-bottom:1px solid #eee;}
.recom-lbox .tck,.recom-rbox .tck {float: left;height: 30px;overflow: hidden;width: 25px;}
.recom-lbox .ttxt{float:left;height: 30px;overflow: hidden;width: 305px;}
.recom-lbox .trow {backbgound:#eeeeee;height: 30px;overflow: hidden;line-height:30px;}
.recom-rbox{width:420px;height:350px;border:1px solid #ddd;padding:5px;text-align:left;overflow-x:hidden;overflow-y:auto;}
.recom-rbox .tck{float:left;height: 30px;overflow: hidden;width: 25px;}
.recom-rbox .ttxt{float:left;height: 30px;overflow: hidden;width: 325px;}
.recom-rbox .top {float:left;width: 70px;}
.recom-rbox .trow {height: 30px;overflow: hidden;width: 420px;line-height:30px;}
.recom-rbox .s-sort{width:20px;}